@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --color-primary-dark: #123524;
  --color-primary-green: #3e7b27;
  --color-primary-light: #85a947;
  --color-primary-pale: #efe3c2;
}

body {
  font-family: "Outfit", sans-serif;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

/* Leaflet Custom Styles */
.leaflet-container {
  font-family: inherit;
}

/* Fix Popup Fonts */
.leaflet-popup-content-wrapper {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.leaflet-popup-content {
  margin: 0;
  line-height: 1.5;
}

/* Remove Leaflet Focus Outline */
path.leaflet-interactive:focus {
  outline: none;
}
